<div class="row">
    <div class="col-xs-3 col-md-3">
        <div id="xwButtons" class="bs-sidebar hidden-print" role="complementary" data-offset-top="80" bs-affix>
            <button type="button" class="btn btn-lg btm-info" ng-click="alert('TBD: Reset form');">New</button>
            <button type="button" class="btn btn-lg btn-info" data-animation="am-fade-and-slide-left"
                    data-template="modal/xwList.html" data-html="true" bs-modal="modal">Open...
            </button>
        </div>
    </div>
    <div class="col-xs-9 col-md-6">
        <xw-ticket ticket-document="documentModel" payout-model="payoutModel" progress-model="progressModel"></xw-ticket>
    </div>
    <div class="col-md-3 col-xs-6">
        <div id="error_explanation"></div>
        <div id="debug_messages"></div>
        <xw-progress-report progress-model="progressModel"></xw-progress-report>
    </div>
    <div class="col-xs-6 col-md-offset-9 col-md-3">
        <xw-payout-report payout-model="payoutModel"></xw-payout-report>
    </div>
</div>
<script type="text/ng-template" id="modal/xwList.html">
    <div id="xwList modal" class="modal fade">
        <div class="xwList body">
            <table class="table table-condensed">
                <tr class="xwList header">
                    <th>Ticket<br>Id</th>
                    <th>Open</th>
                    <th>Delete</th>
                </tr>
                <tr class="xwList item" ng-repeat="rpt in tm.rpts">
                    <td>{{rpt.id}}</td>
                    <td><a href="#">Open</a></td>
                    <td><a href="#">Delete</a></td>
                </tr>
            </table>
        </div>
    </div>
</script>
