<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Please login</h4>
      </div>
      <div class="modal-body">
        <p>Basic login or register form</p>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="username" placeholder="Your Username" ng-model="creds.username">
            </div>
            <div class="col-sm-12">Forgot your username?  <a ui-sref="public.forgot.username">Click Here</a></div>
          </div>
          <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="password" placeholder="Your Password" ng-model="creds.password">
            </div>
            <div class="col-sm-12">Forgot your password?  <a ui-sref="public.forgot.password">Click Here</a></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="cancel()" class="btn btn-danger">Cancel</button>
        <button type="button" ng-click="register()" class="btn btn-warn" data-dismiss="modal">Sign Up</button>
        <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">Login</button>
      </div>
    </div>
  </div>
</div>
