doctype 5
html(ng-app="jch-portfolio")
  head
    title= title
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    script(type='text/javascript', src='/public/javascripts/angular-1.2.6/angular-loader.js')
    script(type='text/javascript', src='/public/javascripts/angular-1.2.6/angular-cookies.js')
    script(type='text/javascript', src='/public/javascripts/angular-1.2.6/angular-resource.js')
    script(type='text/javascript', src='/public/javascripts/angular-1.2.6/angular-route.js')
    script(type='text/javascript', src='/public/javascripts/angular-1.2.6/angular.js')
    script(type='text/javascript', src='/public/javascripts/angular-1.2.6/i18n/angular-locale_en-us.js')
    script(type='text/javascript', src='/public/javascripts/portfolio.js')
  body
    block content
