doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    link(rel='stylesheet', href='/components/angular/angular-csp.css')
  body
    div(class="container")
      nav-bar
      div(ng-view="/")
      div(class="row")
        div(class="span12")
          footer()
            div(ng-include="viewNavBar.html")
            p("&copy; John Heinnickel, 2012")
    script(type='text/javascript', data-main='public/javascripts/main', src='/components/requirejs/require.js')
