doctype(5)
html
  head
    title= title
    link(rel='stylesheet', href='/app/style.css')
    link(rel='stylesheet', href='/app/angular-csp.css')
  body
    div(class="container")
      nav-bar
      div(ng-view="/")
      div(class="row")
        div(class="span12")
          footer()
            p("&copy; John Heinnickel, 2012")
    script(type='text/javascript', data-main='/app/main', src='/app/requirejs/require.js')
