<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated prizecalc -->
      <package
            uri="http://info.jchein/ECORE+Crossword+Storm+Topology+Messages/EN/0.0.1"
            class="info.jchein.sandbox.app.crossword.prizecalc.prizecalc.PrizecalcPackage"
            genModel="src/main/model/prizecalc.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated prizecalc -->
      <package
            uri="http://info.jchein/ECORE+Crossword+Resource+Representations/EN/0.0.1"
            class="info.jchein.sandbox.app.crossword.resources.xw.XwPackage"
            genModel="src/main/model/prizecalc.genmodel"/>
   </extension>

</plugin>
