<div id="ticketView" ng-keypress="onKeyPress" role="complementary" style="position: relative">
    <img alt="card_00" class="ticketView" src="/public/images/card/card_00.jpg" style="top: 0px; left: 0px;">
    <img alt="card_01" class="ticketView" src="/public/images/card/card_01.jpg" style="top: 178px; left: 0px;">
    <xw-your-letters-grid style="top: 178px; left: 52px;"></xw-your-letters-grid>
    <img alt="card_03" class="ticketView" src="/public/images/card/card_03.jpg" style="top: 178px; left: 220px;">

    <img alt="card_05" class="ticketView" src="/public/images/card/card_05.jpg" style="top: 178px; left: 360px;">
    <img alt="card_06" class="ticketView" src="/public/images/card/card_06.jpg" style="top: 206px; left: 276px;">
    <img alt="card_07" class="ticketView" src="/public/images/card/card_07.jpg" style="top: 234px; left: 220px;">
    <xw-bonus-word-grid style="top: 234px; left: 248px;"></xw-bonus-word-grid>
    <img alt="card_09" class="ticketView" src="/public/images/card/card_09.jpg" style="top: 234px; left: 388px;">
    <img alt="card_10" class="ticketView" src="/public/images/card/card_10.jpg" style="top: 262px; left: 52px;">
    <img alt="card_11" class="ticketView" src="/public/images/card/card_11.jpg" style="top: 262px; left: 248px;">
    <img alt="card_12" class="ticketView" src="/public/images/card/card_12.jpg" style="top: 308px; left: 52px;">
    <xw-crossword-grid style="top: 308px; left: 108px;"></xw-crossword-grid>
    <img alt="card_14" class="ticketView" src="/public/images/card/card_14.jpg" style="top: 308px; left: 416px;">
    <img alt="card_15" class="ticketView" src="/public/images/card/card_15.jpg" style="top: 616px; left: 108px;">
</div>
