body {
  background-color: #fff;
  color: #333;
}
footer {
  margin-top: 10px;
  padding-top: 20px;
  text-align: center;
}
div.tikList-header {
  background: #a8ee8a;
}
div.tikList-header p {
  text-align: center;
}
div.tikList-header table {
  margin-bottom: 0px;
}
div.tikList-header table td {
  padding: 0px;
}
div.tikList-body {
  margin-top: 139px;
  height: 600px;
  overflow-y: scroll;
}
div#ticketView {
  position: relative;
  width: 440px;
  height: 660px;
}
div#ticketView img.ticketView {
  position: absolute;
}
div.xw-layered {
  position: absolute;
}
div.xw-layered div.xw-cell {
  position: absolute;
  width: 28px;
  height: 28px;
}
div.xw-layered div.xw-cell img {
  position: absolute;
}
div.xw-layered div.xw-cell img.xw-fill {
  z-index: 12;
}
div.xw-layered div.xw-cell img.xw-grid,
div.xw-layered div.xw-cell img.xw-value {
  z-index: 14;
}
div.xw-layered div.xw-cell img.xw-border {
  z-index: 16;
}
div#letterGrid {
  width: 308px;
  height: 308px;
  background-color: #19D919;
}
div#bonusWordGrid {
  height: 28px;
  width: 140px;
}
div#yourLettersGrid {
  height: 84px;
  width: 168px;
}
div#bonusValue {
  height: 28px;
  width: 84px;
}
