<div class="xw-cell" ng-click="onCellClick" style="top: 0px; left: {{cellModel.colId*28}}px;">
  <img alt="alt" class="xw-grid" src="/public/images/border/grid.png">
  <cell-img class="xw-value" key="cellModel.content" map="imageModel.valueImages"></cell-img>
  <cell-img class="xw-border" key="gridModel.active ? {'htop', 'hmid', 'hmid', 'hmid', 'hend'}[cellModel.colId] : undefined" map="imageModel.borderImages"></cell-img>
  <cell-img class="xw-fill" key="gridModel.active ? 'selected' : cellModel.covered ? 'baseline' : 'revealed'" map="imageModel.fillImages"></cell-img>
</div>