<table id="payoutSummary" class="table table-condensed">
    <tr>
        <td><span class="label label-info">Free Ticket</span></td>
        <td><span class="badge badge-info">{{payoutModel.prizeCounts[0]}}</span></td>
        <td><span class="label label-success">$60</span></td>
        <td><span class="badge badge-info">{{payoutModel.prizeCounts[9]}}</span></td>
    </tr>
    <tr>
        <td><span class="label label-info">$4</span></td>
        <td><span class="badge badge-info">{{payoutModel.prizeCounts[1]}}</span></td>
        <td><span class="label label-success">$100</span></td>
        <td><span class="badge badge-info">{{payoutModel.prizeCounts[10]}}</span></td>
    </tr>
    <tr>
        <td><span class="label label-info">$5</span></td>
        <td><span class="badge badge-info">{{payoutModel.prizeCounts[2]}}</span></td>
        <td><span class="label label-success">$150</span></td>
        <td><span class="badge badge-info">{{payoutModel.prizeCounts[11]}}</span></td>
    </tr>
    <tr>
        <td><span class="label label-info">$10</span></td>
        <td><span class="badge badge-info">{{payoutModel.prizeCounts[3]}}</span></td>
        <td><span class="label label-success">$300</span></td>
        <td><span class="badge badge-info">{{payoutModel.prizeCounts[12]}}</span></td>
    </tr>
    <tr>
        <td><span class="label label-info">$12</span></td>
        <td><span class="badge badge-info">{{payoutModel.prizeCounts[4]}}</span></td>
        <td><span class="label label-success">$1,000</span></td>
        <td><span class="badge badge-info">{{payoutModel.prizeCounts[13]}}</span></td>
    </tr>
    <tr>
        <td><span class="label label-info">$15</span></td>
        <td><span class="badge badge-info">{{payoutModel.prizeCounts[5]}}</span></td>
        <td><span class="label label-success">$3,000</span></td>
        <td><span class="badge badge-info">{{payoutModel.prizeCounts[14]}}</span></td>
    </tr>
    <tr>
        <td><span class="label label-success">$20</span></td>
        <td><span class="badge badge-info">{{payoutModel.prizeCounts[6]}}</span></td>
        <td><span class="label label-success">$20,000</span></td>
        <td><span class="badge badge-info">{{payoutModel.prizeCounts[15]}}</span></td>
    </tr>
    <tr>
        <td><span class="label label-success">$30</span></td>
        <td><span class="badge badge-info">{{payoutModel.prizeCounts[7]}}</span></td>
        <td><span class="label label-important">No Prize</span></td>
        <td><span class="badge badge-info">{{payoutModel.prizeCounts[16]}}</span></td>
    </tr>
    <tr>
        <td><span class="label label-success">$50</span></td>
        <td><span class="badge badge-info">{{payoutModel.prizeCounts[8]}}</span></td>
        <td><span class="label label-inverse">Invalid</span></td>
        <td><span class="badge badge-info">{{payoutModel.prizeCounts[17]}}</span></td>
    </tr>
</table>
<table id="payoutReport" class="table table-condensed">
  <tr>
    <payout-item index="0"></payout-item>
    <payout-item index="11"></payout-item>
  </tr>
  <tr>
    <payout-item index="1"></payout-item>
    <payout-item index="12"></payout-item>
  </tr>
  <tr>
    <payout-item index="2"></payout-item>
    <payout-item index="13"></payout-item>
  </tr>
  <tr>
    <payout-item index="3"></payout-item>
    <payout-item index="14"></payout-item>
  </tr>
  <tr>
    <payout-item index="4"></payout-item>
    <payout-item index="15"></payout-item>
  </tr>
  <tr>
    <payout-item index="5"></payout-item>
    <payout-item index="16"></payout-item>
  </tr>
  <tr>
    <payout-item index="6"></payout-item>
    <payout-item index="17"></payout-item>
  </tr>
  <tr>
    <payout-item index="7"></payout-item>
    <payout-item index="18"></payout-item>
  </tr>
  <tr>
    <payout-item index="8"></payout-item>
    <payout-item index="19"></payout-item>
  </tr>
  <tr>
    <payout-item index="9"></payout-item>
    <payout-item index="20"></payout-item>
  </tr>
  <tr>
    <payout-item index="10"></payout-item>
    <payout-item index="21"></payout-item>
  </tr>
</table>
