<div id="yourLettersGrid" class="xw-layered">
  <your-letters-cell rowid="0" colid="0"></your-letters-cell><your-letters-cell rowid="0" colid="1"></your-letters-cell>
  <your-letters-cell rowid="0" colid="2"></your-letters-cell><your-letters-cell rowid="0" colid="3"></your-letters-cell>
  <your-letters-cell rowid="0" colid="4"></your-letters-cell><your-letters-cell rowid="0" colid="5"></your-letters-cell>
  <your-letters-cell rowid="1" colid="0"></your-letters-cell><your-letters-cell rowid="1" colid="1"></your-letters-cell>
  <your-letters-cell rowid="1" colid="2"></your-letters-cell><your-letters-cell rowid="1" colid="3"></your-letters-cell>
  <your-letters-cell rowid="1" colid="4"></your-letters-cell><your-letters-cell rowid="1" colid="5"></your-letters-cell>
  <your-letters-cell rowid="2" colid="0"></your-letters-cell><your-letters-cell rowid="2" colid="1"></your-letters-cell>
  <your-letters-cell rowid="2" colid="2"></your-letters-cell><your-letters-cell rowid="2" colid="3"></your-letters-cell>
  <your-letters-cell rowid="2" colid="4"></your-letters-cell><your-letters-cell rowid="2" colid="5"></your-letters-cell>
</div>