<div id="ticketView" ng-keypress="onKeyPress" role="complementary" style="position: relative">
    <img alt="card_00" class="ticketView" src="/app/xw-ticket/images/card/card.jpg" style="top: 0px; left: 0px; height: 660px; width: 440px">
    <xw-your-letters-grid style="top: 178px; left: 52px; height: 84px; width: 168px"></xw-your-letters-grid>
    <xw-bonus-word-grid style="top: 234px; left: 248px; height: 28px; width: 140px;"></xw-bonus-word-grid>
    <xw-crossword-grid style="top: 308px; left: 108px; height: 308px; width: 308px"></xw-crossword-grid>
</div>
