@bodyBackground: #FAF7EC;

@import "theme";
@import "bootstrap";

@navbarBrandColor: #989CAE;

// Angular UI requirement
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

//.brand {
//  font-family: monoFontFamily;
//}

body {
  padding-top: 70px;
}

#food {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

@import "site/navigation/_home";
@import "crosswords/_crosswords";
