<!DOCTYPE html>
<html ng-app="jchptf.app">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <base href="/">

    <title>John Heinnickel's Portfolio Website</title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:style bundle -->
    <link rel="stylesheet" href="/path/to/some.css">
    <!-- /build -->
</head>

<body>
    <div class="container">
        <nav-bar></nav-bar>
        <div ui-view="/"></div>
        <div class="row">
            <div class="span12">
                <footer>
                    <!--div ng-include="viewNavBar.html"></div-->
                    <p>&copy; John C. Heinnickel, 2015</p>
                </footer>
            </div>
        </div>
    </div>

    <!-- build:script bundle -->
    <script src="/path/to/something.js" type="application/javascript"></script>
    <!-- /build -->
</body>
</html>

